<?xml version="1.0"?>
<model>
  <name>robotx_buoy_blue_led</name>
  <version>1.0</version>
  <sdf version="1.10">model.sdf</sdf>
  <author>
    <name>RobotX dataset sim</name>
    <email>n/a</email>
  </author>
  <description>RobotX buoy with top-facing static blue beacon for start/end markers.</description>
</model>
